.jumbotron {
    background-color: #0054A4;
    color: white;
    border-radius: 5px;
}
   /* > direct child */
.card > .card-header, .btn.blue {
    background: #0054A4;
    color: white;
}

.card {
    margin-bottom: 30px;
    border: solid 1px #F4F5F6;
}

.table thead th {
    border: none !important;
    padding-top: 5px;
}

.header {
    color: #0054A4;
    /* add uta logo */
}

.button {
    background-color: #0054A4;
    border-radius: 7px;
    color: white;
    /* glow button */
    transition: all 0.2s ease-in-out;
    margin: auto;
}

.glow-button:hover {
    color: #F4F5F6;
    box-shadow: 0 5px 15px #0054A4;
}

