.jumbotron {
    background-color: #0054A4;
    color: white;
    border-radius: 5px;
}
   /* > direct child */
.card > .card-header, .btn.blue {
    background: #0054A4;
    color: white;
}

.card {
    margin-bottom: 30px;
    border: solid 1px #F4F5F6;
}

.table thead th {
    border: none !important;
    padding-top: 5px;
}